html {
    background-color: seagreen;
    }

body {
    width: 600px;
    margin: 0 auto;
    display: block;
    background-color: coral;
    padding: 0 20px 20px 20px;
    border: 2px solid white;
    }
    
h1 {
    margin: 0 auto;; 
    padding: 0 20px;
    text-shadow: 2px 2px 1px white;
    top: 50%;
    left: 50%;
    
    
    }
img {
    display: block;
    margin: 0 auto;
    }

.h1 {
        width: 100px;
        height: 100px;
        background-color: red;
        animation: example 3s;
        }
        
    @keyframes example {
        from {background-color: red;}
        to {background-color: blue;}
        }

DIV {
    background: gold;
    box-shadow: 0 -200px 100px -120px crimson inset;
    animation: background 3s infinite alternate;
    }
          
        @keyframes background {
        50% {
        background: skyblue;
        box-shadow: 0 -200px 100px -100px yellowgreen inset;
        }
        }